@use 'variables' as *;
@use 'sass:color';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family-main;
  color: $sw-white;
  min-height: 100vh;
  line-height: 1.6;
}

#root {
  min-height: 100vh;
}
